<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>node-sample &ndash; Client</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="bs/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<strong class="navbar-brand">ChatRoom_Client</strong>
			</div>
			<button id="logout" class="btn btn-danger btn-sm navbar-btn navbar-right">se déconnecter</button>
			<div class="profile navbar-right">
				<p class="navbar-text">Bonjour , <%= username %></p>
			</div>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<h2>  Joindre une chambre</h2>
	</div>
	<div class="row">
		<div class="col-md-6">
			<table>
				<tr><td>Chambre de chat active : </td>
					<td id='currentRoom' style="font-weight: bold">Aucune</td>
				</tr>
			</table>
			<br>
			<div id="chatroomresults"></div>
			<br>
				<!-- 
				<form>
				    <span id="getnamec"><%= username %></span> : 
				    <input id="chatroomc" type="text" required disabled>
				    <input id="envoyerchatc" class="btn btn-success" type="submit" value="envoyer" disabled/>
				</form>  
			-->

			<span id="getnamec"><%= username %></span> : 
			<form>
			<div class="input-group">
				
				<input id="chatroomc" type="text" class="form-control" required disabled>
				<span class="input-group-btn">
					<button id="envoyerchatc" type="submit" class="btn btn-default" disabled>Envoyer!</button>
				</span>
			</div> 
			</form> 
		</div>
		<div class="col-md-3">
			<table>
				<thead>
					<tr>
						<th>Nom de chambre</th>
						<th>Joindre</th>
					</tr>
				</thead>
				<tbody id="rooms"></tbody>
			</table>
		</div>
		<div class="col-md-3">
			<p><strong>Qui Est En Ligne</strong></p>
			<div id="online"></div>	
		</div>
	</div>

<br>
<div id="results"></div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/client.js"></script>
</body>
</html>
